services:
  gateway-service:
    build:
      context: .
      dockerfile: deploy/gateway.Dockerfile
    container_name: gateway
    env_file:
      - .env
    depends_on:
      - user-service
    ports:
      - "${GATEWAY_HTTP_PORT}:8080"

  user-db:
    image: postgres:15-alpine
    container_name: user-db
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${USER_DB_USER}
      POSTGRES_PASSWORD: ${USER_DB_PASSWORD}
      POSTGRES_DB: ${USER_DB_NAME}
    ports:
      - "${USER_DB_PORT_EXTERNAL}:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${USER_DB_USER} -d ${USER_DB_NAME}" ]
      interval: 5s
      timeout: 5s
      retries: 5

  user-service:
    build:
      context: .
      dockerfile: deploy/user.Dockerfile
    container_name: user-service
    env_file:
      - .env
    depends_on:
      user-db:
        condition: service_healthy
    ports:
      - "${USER_GRPC_PORT}:${USER_GRPC_PORT}"
    volumes:
      - ./migrations:/root/migrations

networks:
  flyte-network:
    driver: bridge